@font-face {
  font-family: 'Iranian Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'),
  url('./fonts/Iranian Sans.ttf') format('truetype');
}

@font-face {
  font-family: 'Iranian Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'),
  url('./fonts/Iranian Sans.ttf') format('truetype');
}

@font-face {
  font-family: 'Iranian Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'),
  url('./fonts/Iranian Sans.ttf') format('truetype');
}
